<!DOCTYPE html>
<html>
<head>
<script>

var ws;
function myFunction() {

       ws = new WebSocket("ws://localhost:8000/echo");

       ws.onopen = function() {
           // open websocket and display socket connected state
           document.getElementById("conn_status").style.display="flex";
           ws.send("socket open");
       };

       ws.onclose = function(evt) {
           // disable socekt connected state went socket closed
           document.getElementById("conn_status").style.display="none";
       };

       ws.onmessage = function(evt) {
           // append message to webpage when receive from server
           var para = document.createElement("p");
           para.style.display="flex";
           para.innerHTML=">"+evt.data
           document.getElementById("chat").appendChild(para);
       };
}

window.onload=function(){
    myFunction()
}


function sendText(text) {
        ws.send(text);
}
</script>
<style>
.dot {
  height: 25px;
  width: 25px;
  background-color: #00FF00;
  border-radius: 50%;
  display: inline-block;
}
</style>
</head>

<body>
    <h1>這是一個即時更新留言板</h1>
    <p id="demo">跟聊天機器人溝通可以獲得你想要的資訊</p>
    <div id="conn_status" style="display: none;">
        <span class="dot"></span>
        <p>已連線</p>
    </div>

    <input type="text" id="lname" name="lname"><br><br>
    <input type="submit" value="Submit" onclick="sendText(document.getElementById('lname').value)">

    <div id="chat" style=""></div>

</body>
</html>